<head>
    <meta name="viewport" content="device=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Transfer Money</h2>
        <input type = "text" id="payer" placeholder="Enter Payer Address">
        <input type = "text" id="payee" placeholder="Enter Payee Address">
        <input type = "number" id="amount" placeholder="Enter Amount">
        <button class="btn" onclick="transfer()">Transfer</button>
        

        <form action="/main" method="post">
            <input type = "submit" value="Main">
        </form>

        <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x5bb9cd5e5cdfc630082afbdd17a229d4d7d2da89"
            const contractABI = [
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "payer_add",
                            "type": "address"
                        },
                        {
                            "internalType": "address",
                            "name": "payee_add",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "amount_transfer",
                            "type": "uint256"
                        }
                    ],
                    "name": "transfer",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "transaction",
                    "outputs": [
                        {
                            "internalType": "address",
                            "name": "",
                            "type": "address"
                        },
                        {
                            "internalType": "address",
                            "name": "",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                }
            ]
            const web3 = new Web3(Web3.givenProvider)
            const contract = new web3.eth.Contract(contractABI,contractAddress)

            async function transfer(){

            }
        </script>
    </div>
</body>
